* {
    margin-left:auto;
    margin-right:auto;
}

#top-half {
    text-align:center;
    width:45%;
    margin-left:auto;
    margin-right:auto;  
}

h1 {
    margin-bottom:0px;
    font-weight:bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:lightseagreen;
}

#author {
    margin-top:0;
    margin-bottom:20px;
    font-size:15px;
}

#interestsAndHobbies {
    width:45%;
    margin-left:auto;
    margin-right:auto;
}

li {
    list-style-position:inside;
}

figure {
    text-align:center;
    width:50%;
    display:none;
}

footer {
    text-align:center;
    width:100%;
    background-color:grey;
    padding-top: 20px;
    padding-bottom:20px;
    color:white;
}

#buttons {
    width:50%;
}

#buttons button {
    padding:5px 10px;
    border:none;
    color:white;
}

.active {
    display:block   ;
}
#updateData2 {
    background-color:green;
    border: 2px solid;
    position: absolute;
    top: 80px;
}

#updateData3 {
    background-color:yellowgreen;
    border: 2px solid;
    position: absolute;
    top: 102px;
}

#addData {
    background-color:aquamarine;
    border: 2px solid;
    position: absolute;
}

#removeData {
    background-color:green;
    border: 2px solid;
    position: absolute;
    top: 80px;
}